/* RESET */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */


/* COMMON */
body
{
    font-family: 'Open Sans', sans-serif;
}

.flex-container
{
    display: flex;
}

.container-large
{
    width: 85%;
    margin: 0 auto;
}

.small-container
{
    width: 70%;
    margin: 0 auto;
}

img
{
    width: 100%;
}

ul
{
    list-style-type: none;
}

.p-to-action
{
    margin-top: 20px;
}

.p-to-action>.btn
{
    margin-bottom: 15px;
}

.large-btn
{
    background-color: #0061ff;
    color: white;
}

a
{
    text-decoration: none;
}

.col
{
    width: calc( ( 100% / 3 ) - 20px );
}

/* HEADER */
header
{
    background-color: white;
    border-bottom: 1px solid white;
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

/* header menu */
header nav
{
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    font-size: 13px;
}

header a
{
    color: black;
}

.main-menu li, .user-menu li
{ 
   padding:0 15px;
}

.logo
{
    width: auto;
    height: 18px;
}

.header-small-btn
{
    padding: 2px 15px;
    color: white;
    background-color: #0061ff;
}

/* MAIN */
/* jumbotron */
.jumbotron
{
    background-color: #b4d0e7;
    padding-top: 40px;
}

h1
{
    font-size: 60px;
    padding-top: 70px;
}

.jumbotron .text-col
{
    width: 35%;
    padding-top: 70px;
}

.jumbotron .img-col
{
    width: 65%;
    position: relative;
    top: 70px;
}

.jumbotron .arrow-down
{
    margin-top: 30px;
    font-size: 25px;
}

.jumbotron .large-btn
{
   padding: 5px 15px;
}

/* dropbox subscription */
.drop-box-plan-subscription
{
    margin-top: 80px;
}

.drop-box-plan-subscription>h2
{
    padding: 30px 0;
    font-size: 30px;
}

.plan-subscription
{
    justify-content: space-between;
}

.plan-subscription .col
{
    
    border: 1px solid lightgray;
}

.user
{
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    text-align: center;
}

.box-plan
{
    padding: 0 25px;
}

.plan
{
    padding-top: 15px;
}

.price
{
    font-weight: 700;
    padding-top: 15px;
}

.period
{
    padding-top: 8px;
    padding-bottom: 25px;
    color: grey;
    font-size: 13px;
}

.plan-subscription li
{
    padding-top: 15px;
}

.plan-subscription .large-btn
{
    padding: 5px 25px;
}

.plan-subscription .btn
{
    padding: 25px 0 15px 0;
}

.fake-hr
{
    border: 1px solid lightgray;
    background-color: lightgray;
    width: 50px;
    margin: 20px 0 25px 0;
}

.point-of-plan
{
    padding-bottom: 150px; 
}

.point-of-plan li::before
{
    content: '\2713';
    color: #0061ff;
    font-weight: 600;
}

.row
{
    margin-top: 30px;
    border: 1px solid lightgray;
}

.row .price
{
    padding: 25px 0 20px 0;
}

.row .box-plan
{
    position: relative;
}

.row .btn
{
    position: absolute;
    top: 25px;
    right: 20px;
}

.row .large-btn
{
    padding: 10px 50px;
}

/* become a dropbox partner */
.become-partner
{
    padding: 150px 0 100px;
}

.become-partner .img-col
{
    width: 50%;
}

.become-partner .text-col
{
    width: 50%;
    padding: 40px 0 0 40px;
}

.become-partner .text-col h2
{
    padding-bottom: 30px;
}

.become-partner .text-col p
{
    padding-bottom: 30px;
}

.become-partner-btn
{
    border: 1px solid black;
    padding: 5px 15px;
    color: black;
}

/* operation */
.features-list
{
    justify-content: space-between;
    flex-wrap: wrap;
}

.features-list .col
{
    padding-top: 30px;
}

.card-img
{
    width: 250px;
}

.underline a
{
    color: black;
    text-decoration: underline;
}

/* partner dropbox */
.partner-dropbox
{
    padding: 150px 0;
}

.clients
{
    padding: 30px 0;
}

.clients a
{
    text-decoration: underline;
}

.main-col
{
    background-color: #f5f5f5;
    width: 40%;
}

.aside
{
    width: 30%;
    flex-wrap: wrap;
    
}

.aside>.col
{
    width: calc(100% / 2);
    padding: 50px 15px; 
}

.aside img
{
    filter: invert(1);
    height: 50px;
}

.designit
{
    border: 6px solid #d0e9cd;
    background-color: #a2d39b;
}

.asu
{
    background-color: #61082b;
}

.uof
{
    background-color: #0093ce;
}

.topps
{
    background-color: #ff1c1c;
}

.wbr
{
    background-color: #d5001f;
}

.hearst-corp
{
    background-color: #b4d0e7;
}

.lonely-planet
{
    background-color: #0d2481;
}

.clear-channel
{
    background-color: #ffd830;
}

.main-col>.card
{
    padding: 30px 25px;
}

.main-col .fake-hr
{
    background-color: gray;
    margin-bottom: 30px;
}

.company-logo
{
    width: 150px;
}

.author
{
    padding-top: 35px;
    padding-bottom: 60px;
}

.use-dropbox
{
    background-color: #b4d0e7;
    padding: 150px 0px;
    position: relative;
}

.use-dropbox h2
{
    color: #61082b;
    font-size: 30px;
}

.use-dropbox .btn
{
    background-color: whitesmoke;
    padding: 5px 30px;
    position: absolute;
    right: 150px;
    top: 130px;
}

.use-dropbox .btn a
{
    color: black;
}

/* questions */
.questions h2
{
    padding-bottom: 30px;
}

.questions li
{
    padding: 20px 0;
    border-top: 1px solid lightgray;
}

.chevron
{
    padding-left: 360px;
}

/* FOOTER */

